@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


*{
  box-sizing: border-box;
font-family: 'inter';

}

:root {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;

}
body{
  background-color: #040404;
}
.blob{
  height: 300px;
  width: 300px;
  background-color: #27E900;
  opacity: 0.45;
  filter: blur(125px);
  position: absolute;

}